[Desktop Entry]
Type=Application
Name=Set Wifi Credentials
Exec=/opt/geofence-tools/run-wifi-setup.sh
TryExec=/opt/geofence-tools/run-wifi-setup.sh
Icon=network-wireless
Terminal=false
StartupNotify=true
